<%- contentFor('body') %>
<h1>Delete review: <%= arrangement?._id %></h1>
<form method="post" action="/arrangements/<%=arrangement._id%>/reviews/<%= arrangement.reviews[0]._id %>/delete?_method=DELETE">
    <p>Please confirm the deletion of this review. This action cannot be undone</p>    
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
</form>