<%- contentFor('body') %>
<h1>Welcome to Flower Arrangements</h1>
<a href="/registration" class="btn btn-primary">Register</a>
<a href="/login" class="btn btn-primary">Login</a>
<a href="/arrangements" class="btn btn-primary">View Flower Arrangements</a>