<%- contentFor('body') %>
<form method="post" action="/arrangements/add">
    <%- include('form', {arrangement: null}) %>

    <button type="submit" class="btn btn-primary">add arrangement</button>
</form>