<%- contentFor('body') %>
<h1>Delete flower arrangement: <%= arrangement?._id %></h1>
<form method="post">
    <p>Please confirm the deletion of customer <%= arrangement?.name%> by <%=arrangement?.displayName%>. This action cannot be undone</p>    
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
</form>