<div class="py-3 d-flex flex-column gap-3">
    <div>
        <label for="name">
            Arrangement Name
        </label>
        <input type="text" class="form-control" name="name" value="<%= arrangement?.name %>">
    </div>
    <div>
        <label for="displayName">
            Flower Studio
        </label>
        <input type="text" class="form-control" name="displayName" value="<%= arrangement?.displayName %>">
    </div>
    <div>
        <label for="imageUrl">
            image url
        </label>
        <input type="text" class="form-control" name="imageUrl" value="<%= arrangement?.imageUrl %>">
    </div>
</div>
