<div class="py-3 d-flex flex-column gap-3">
    <div>
        <label for="email">
            User Email
        </label>
        <input type="text" class="form-control" name="email" value="">
    </div>
    <div>
        <label for="password">
            User Password
        </label>
        <input type="text" class="form-control" name="password" value="">
    </div>
</div>